.header {
  perspective: 800px;
}

.card {
  transition: all 300ms ease-in;
}

.header:hover .card {
  transform: rotateY(-5deg) translateZ(5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in; /* sombra más pronunciada */
}
