swiper-container::part(button-next){
    top: 0px!important;
    height: 100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.46) 100%)!important;
}

swiper-container::part(button-prev) {
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.21) 100%)!important;
    top: 0px!important;
    height: 100%;
}

