@import "tailwindcss";

body {
    font-family: "Montserrat", sans-serif!important;
    line-height: 27px;
}

.mat-mdc-tab-header {
    display: none!important;
}

.custom-menu {
    display: flex;
    width: 375px!important;
    max-width: 375px!important;
    text-align: end;
    justify-content: end;
}

.mat-mdc-menu-content {
    font-family: "Montserrat", sans-serif!important;
}

.button {
    font-family: "Montserrat", sans-serif!important;
}