@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 27px;
  margin-bottom: 75px;
}

* {
  box-sizing: border-box;
}

.mat-mdc-tab-header {
  display: none !important;
}

.custom-menu {
  display: flex;
  width: 375px !important;
  max-width: 375px !important;
  text-align: end;
  justify-content: end;
}

.mat-mdc-menu-content {
  font-family: "Montserrat", sans-serif !important;
}

.button {
  font-family: "Montserrat", sans-serif !important;
}

[appScrollReveal] {
  opacity: 0;
  transform: translateX(-250px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

[appScrollReveal].visible {
  transform: translateX(0);
  opacity: 1;
}
